body {
    margin: 0;
    min-height: 4000px;
    box-sizing: border-box;
}
/* 斷點底哩992px */
.nav-wrap {
    width: 100%;
    min-height: 50px;
    display: flex;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
}
.container{
    width: 100%;
    margin: auto;
    padding: 0;
    position: relative;
}
.row{
    margin: 0;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.flex-direction-column {
    flex-direction: column;
}
.align-item {
    align-items: center;
}
.color-b{
    color: #000;
}
.color-w{
    color: #fff;
}
.right{
    display: flex;
    justify-content: flex-end;
}
.left{
    display: flex;
    align-items: flex-start;
}
.black-more::before{
    display: inline-block;
    width: 10em;
    height: 15px;
    content: "" ;
    margin-right: 20px;
    border-bottom: 1px solid #000;
}
.black-more{
    color: #000;
    text-decoration: none;
    display: flex;
    position: absolute;
    margin-bottom: -20px;
    padding-right: 30px;
}
.white-more::before{
    display: inline-block;
    width: 5em;
    height: 15px;
    content: "" ;
    margin-right: 20px;
    border-bottom: 1px solid #fff;
}
.white-more{
    display: block;
    color: #fff;
    text-decoration: none;
    display: flex;
    position: absolute;
    left: 22em;
}

/* ----------------------------------------- */
.logoo img {
    width: 37%;
    margin-left: 25px;
}

.topic {
    display: flex;
    align-items: center;
}

.topic a {
    font-size: 1.1em;
    font-weight: 600;
    padding: 0 12px;
    text-decoration: none;
    color: #000;
}

.topic a:hover {
    text-decoration: underline;
    color: #666;
}

.icon {
    font-size: 25px;
}

.sanwich-bar{
    margin-left: 10px;
}
.line {
    width: 24px;
    height: 2.2px;
    background-color: #000;
    margin: 6px 5px;
}

/* --------------media----------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .nav-wrap {
        width: 375px;
        height: 5vh;
    }
    .nav{
        box-sizing: border-box;
        width: 100%;
        height: 100%;        
    }
    
    .logoo{
        height: 60%;
    }
    .logoo img{
        height: 100%;
    }
    .topic a {
        font-size: 2.5vh;
        font-weight: 600;
        padding: 8px;
    }
    #dis-992{
        display: none;
    }
    .topic a:hover {
        text-decoration: underline;
        color: #666;
    }
    #icon i{
        font-size: 3.5vh;
    }
    .sanwich-bar{
        margin-left: 0px;
    }
    .line {
        width: 15px;
        height: 2px;
        background-color: #000;
        margin: 4px 5px 0;
    }
}
/* ------------------herosection------------------------------ */
.herosection {
    /* background-color: #000; */
    position: relative;
}
.box {
    width: 100%;
    height: 500px;
    background: url(./img.file/homeBg-jpg.jpeg) center 20%/cover no-repeat;
    background-position: center bottom;
    filter: brightness(.5);
    /* position: fixed; */
}

.box-text {
    width: 100%;
    height: 500px;
    color: #fff;
    position: absolute;
    top: 2%;
    display: flex;
    justify-content: center;
    /* align-content:flex-end ; */
    /* outline: 5px solid #f00 ; */
}

.box-text h1 {
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.travel{
    font-size: 1.2em;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 992px) {
    .box {
        background-position: 70% bottom;
    }
}
/* ---------------------------------------------------------- */
/* word-1 */
.word-1-box{
    padding: 50px 0;
}
.word-1 h4{
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 40px;
}
.word-1 p{
    width: 30%;
    font-size: 1em;
    line-height: 2em;
}

@media screen and (max-width: 992px) {
    .word-1-box{
        display: flex;
        flex-direction: column;
    }
    .word-1 h4{
        width: 100%;
        font-size: 5vw;
    }
    .word-1 p{
        width: 100%;
        font-size: 4vw;
    }
}


/* -------------------------------------------------------------- */
/* taipei */
.taipei{
    width: 100%;
    /* min-height: 00px; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */

}
.img-top{
    overflow: hidden;
}
.taipei .img{
    width: 100%;
    margin: auto;
    height: 400px;
    background: url(/img.file/taipeiPic-jpg.jpg) center bottom /cover no-repeat;
    transition: .8s;
}
.taipei .img:hover{
    transform: scale(1.1);
}
.word{
    min-height: 300px;
    background: url(/img.file/gray-jpg.jpeg);
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    padding: 5em 18em 10em 4em;
    position: relative;
}
.word h2 {
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-right: 20px;
}
.word h2 i{
    font-size: .8em;
    padding: 10px 0;
}
.word-top{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 80px;
}
.word p{
    width: 100%;
    
}
.taipei a{
    margin-top: 20px;
}
@media screen and (max-width: 992px) {
    .word{
        padding: 2em 1em 10em 1em;
        align-items: flex-start;
    }
    .word-top{
        margin-top: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-grow: 1;
    }
    .word h2 {
        font-size: 2em;
        margin: 0 20px 0 0;
    }
    .word h2 i{
        padding: 10px 0;
    }
    .word p{
        font-size: 3.5vw;
        width: 100%;
        line-height: 1.8em;
        
    }
    .taipei a{
        margin-top: 20px;
    }
    .black-more::before{
        width: 60vw;
        height: 7px;
    }
    .black-more{
        width: 80%;
        font-size: 3vw;
        padding-right: 30px;
        margin-bottom: -40px;
        align-items:center;
    }
}

/* ----------------------------------------------------- */
/* taoyuan */

.taoyuan{
    color: #fff;
    width: 100%;
    /* border: 1px solid #f00; */
    /* overflow: visible; */
    /* position: relative; */

}
.taoyuan-right{
    width: 100%;
}

.taoyuan-img-top{
    width: 50%;
    margin-top: -3.9em;
    position: relative;
    overflow: hidden;
}

.taoyuan-img-top .img{
    width: 100%;
    background: url(/img.file/taoyuanPic-jpg.jpg) center center / cover no-repeat;
    min-height: 500px;   
    transition: .8s;

}
.taoyuan-img-top:hover .img{
    transform: scale(1.1);
}
.taoyuan-word-top{
    width: 50%;
}
.taoyuan-word{
    width: 100%;
    min-height: 500px;
    background: url(/img.file/blue-jpg.jpeg);
    display: flex;
    padding: 50px 50px;
}
.taoyuan-word h2 {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-right: 40px;
    margin-bottom: 70px;
}
.taoyuan-word h2 i{
    font-size: .8em;
    padding: 10px 0;
}
.taoyuan-taoyuan-word p{
    width: 80%;
}
.taoyuan-white-more::before{
    display: inline-block;
    width: 100%;
    height: 15px;
    content: "" ;
    margin-right: 20px;
    border-bottom: 1px solid #fff;
}
.taoyuan-white-more{
    display: block;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content:flex-end;
    margin-top: 20px;
}
@media screen and (max-width:992px) {
    .container-992{
        min-width: 100%
        
    }
    .taoyuan-right{
        justify-content:flex-end;
    }
    .taoyuan-img-top{
        width: 80%;
        margin-top: 0;
        z-index: 1;
        position: absolute;
        left: 0;
    }
    .taoyuan-word-top{
        width: 90%;
        z-index: 0;
        overflow: hidden;
        /* right: 0; */
    }
    .taoyuan-word{
        margin-top: 10em;
        /* flex-wrap: no-wrap; */
        display: flex;
        flex-direction:row-reverse;
        justify-content: center;
        align-items: center;
        padding: 25em 1em 5em;
    }
    .taoyuan-word h2 {
        font-size: 2em;
        margin-right: 20px;
    }
    .taoyuan-word p{
        font-size: 3.5vw;
        line-height: 1.8em;
        padding: 0 20px;
    }
    .taoyuan-white-more{
        font-size: 3.5vw;
        align-items: center;
        margin-top: 40px;
        padding: 0 20px;

    }
}
/* -------------------------------------------------- */
/* hsinchu */

.hsinchu{
    color: #fff;
    width: 100%;
    /* border: 1px solid #f00; */
    margin-top: -4em;
}
.hsinchu-left{
    /* width: 105%; */
    margin: 0 0 0 -5%;
}
.hsinchu-img-top{
    width: 50%;
    overflow: hidden;
}

.hsinchu-img-top .img{
    width: 100%;
    background: url(/img.file/hsinchuPic-jpg.jpg) center center / cover no-repeat;
    min-height: 500px;   
    transition: .8s;
}
.hsinchu-img-top:hover .img{
    transform: scale(1.1);
}
.hsinchu-word-top{
    width: 60%;
    background: url(./img.file/ocean-jpg.jpeg);
    /* margin-left: -20px; */
}
.hsinchu-word{
    width: 100%;
    min-height: 500px;
    background: url(/img.file/ocean-jpg.jpeg);
    display: flex;
    /* justify-content:center; */
    padding: 50px 40px;

}
.hsinchu .p-top{
    margin: 0;
}
.hsinchu-word p{
    width: 80%;
}
.hsinchu-word-line-top{
    display: flex;
    align-items:flex-start;
}

.hsinchu-word-line{
    height: 15px;
    min-width: 60%;
    border-bottom: 1px solid #fff;
    margin-right: 10px;
}
.hsinchu-word h2 {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-right: 40px;
    margin-bottom: 70px;
}
.hsinchu-word h2 i{
    font-size: .8em;
    padding: 10px 0;
}
.hsinchu-white-more::before{
    display: inline-block;
    width: 15em;
    height: 15px;
    content: "" ;
    margin-right: 20px;
    border-bottom: 1px solid #fff;
}
.hsinchu-white-more{
    display: block;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content:flex-end;
    margin-top: 20px;
}

@media screen and (max-width: 992px){
    .hsinchu{
        margin-top: 0;
    }
    .container-992{
        min-width: 100%
        /* position: relative; */
    }
    .hsinchu-left{
        width: 100%;
    }
    .hsinchu-img-top{
        width: 80%;
        /* margin-top: 0; */
        z-index: 1;
        position: absolute;
        right: 0;
    }
    .hsinchu-word-top{
        width: 100%;
        top: 1em;
        /* left: 10%; */
        z-index: 0;
    }
    
    .hsinchu-word{
        position: absolute;
        margin-top: 10em;
        flex-wrap: no-wrap;
        justify-content: center;
        align-items: center;
        padding: 25em 0em 5em 0em;
    }
    .hsinchu-word h2 {
        font-size: 2em;
        /* margin-right: 20px; */
        /* margin-left: 0; */
    }
    .hsinchu-word p{
        font-size: 3.5vw;
        line-height: 1.8em;
        padding: 0px;
        margin-right: 20px;
        margin-left: auto;
    }
    .hsinchu-white-more{
        font-size: 3.5vw;
        align-items: center;
        margin-top: 40px;
        padding: 0 20px;
    }
    
}
/* -------------------------------------------------- */
/* taichung */

.taichung{
    color: #000;
    width: 100%;
    /* border: 1px solid #f00; */

}
.taichung-right{
    width: 105%;
    display: flex;
    /* margin: 0 0 0 5%; */

}
.taichung-img-top{
    width: 50%;
    margin-top: -13em;
    z-index: 1; 
    overflow: hidden;
}

.taichung-img-top .img{
    /* width: 100%; */
    /* border: 1px solid #00f; */
    background: url(./img.file/taichungPic-jpg.jpg) center center / 100% no-repeat;
    min-height: 600px;  
    transition: .8s;
}
.taichung-img-top:hover .img{
    transform: scale(1.1);
}
.taichung-word-top{
    width: 105%;
    position: absolute;
    top: 0;
    /* left: 5%; */
    background: url(/img.file/gray-jpg.jpeg);
    z-index: 0; 
    /* flex-grow: 1; */
}
.taichung-word{
    width: 50%;
    min-height: 500px;
    display: flex;
    margin-left: auto;
    padding: 4em 7em 0px 2em;
}
.taichung-word h2 {
    /* font-size: 1.5em; */
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-top: 20px;
    padding-left: 20px;
}
.taichung-word h2 i{
    font-size: .8em;
    padding: 10px 0;
}
.taichung-word .p-top{
    width: 80%;
    margin-bottom: 50px;
    margin-top: 70px;
}
.taichung-black-more::before{
    display: inline-block;
    width: 70%;
    height: 15px;
    content: "" ;
    margin-right: 20px;
    border-bottom: 1px solid #000;
}
.taichung-black-more{
    color: #000;
    display: block;
    text-decoration: none;
    display: flex;
    justify-content:flex-end;
    margin-top: 20px;

}
@media screen and (max-width: 992px){
    .taichung-right{
        margin-top: 74em;
    }
    .taichung-img-top{
        height: 100%;
    }
    
    .taichung-img-top .img{
        height: 100%;
        /* border: 1px solid #00f; */
        background: url(./img.file/taichungPic-jpg.jpg) center center / 100% no-repeat;
        /* min-height: 600px;   */
        transition: .8s;
    }
    .taichung-word{
        width: 100%;
    }
    .taichung-word{
        width: 100%;
        display: flex;
        padding: 25em 7em 0 0;
        align-items: flex-start;
    }
    .taichung-word h2 {
        font-size: 2em;
        margin-top: 0;
    }
    .taichung-word .p-top{
        margin-top: 0;
        font-size: 3vw;
    }
}
/* ----------------------------------------------------------- */
    /* nantou */
.nantou{
    display: flex;
    flex-direction: column;
    margin-top: 6em;
}

.img-top{
    overflow: hidden;
}
.nantou .img{
    width: 100%;
    margin: auto;
    min-height: 300px;
    background: url(./img.file/nantouPic.jpg) center center /cover no-repeat;
    transition: .8s;
}
.nantou .img:hover{
    transform: scale(1.1);
}
.nantou-word{
    color: #fff;
    min-height: 300px;
    background: url(/img.file/blue-jpg.jpeg);
    display: flex;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    padding: 3em 10em 10em 4em;
}
.nantou-word-top{
    margin-right: 20px;
}
.nantou-word h2 {
    /* font-size: 1.5em; */
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: 0 20px;
}
.nantou-word h2 i{
    font-size: .8em;
    padding: 10px 0;
}
.nantou-white-more::before{
    display: inline-block;
    width: 15em;
    height: 15px;
    content: "" ;
    margin-right: 20px;
    border-bottom: 1px solid #fff;
}
.nantou-white-more{
    display: block;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    justify-content: end;
}
@media screen and (max-width: 992px){
    .nantou{
        margin-top: 25em;
    }
    .nantou-word{
        width: 100%;
        padding: 3em 1em 2em 1em;
        align-items: flex-start;
    }
    .nantou-word h2 {
        font-size: 2.5em;
    }
    .nantou-word-top{
        width: 85%;
        font-size: 3vw;
    }  
    .nantou-white-more::before{
        width: 100%;
    }
    .nantou-white-more{
        width: 100%;
        align-items: center;
    }
}
/* -------------------------------------------------- */
/* tainan */

.tainan{
    color: #000;
    width: 100%;
    /* border: 1px solid #f00; */
    display: flex;
}

.tainan-img-top{
    width: 50%;   
    /* position: absolute; */
    /* right: 0; */
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}
.tainan-img-top .img{
    width: 100%;
    background: url(/img.file/tainanPic-jpg.jpg) center top / 100% no-repeat;
    min-height: 500px;
    /* background-position: center bottom;    */
    transition: .8s;
}
.tainan-img-top:hover .img{
    transform: scale(1.1);
}
.tainan-word-top{
    width: 45%;
    margin-left: -5%;
    background: url(./img.file/green-jpg.jpeg);
    display: flex;
    flex-direction: column;
    /* position:absolute; */
    /* left: 0; */
}
.tainan-word{
    width: 100%;
    min-height: 600px;
    background: url(/img.file/green-jpg.jpeg);
    display: flex;
    /* justify-content: flex-end; */
    padding: 50px 120px 0 70px;
}
.tainan-word p{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.tainan-word h2 {
    /* font-size: 1.5em; */
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-right: 40px;
    margin-bottom: 40px;
    align-items: flex-start;
}
.tainan-word h2 i{
    font-size: .8em;
    padding: 10px 6px;
}
.tainan-black-more::before{
    display: inline-block;
    width: 20em;
    height: 15px;
    content: "" ;
    margin-right: 20px;
    border-bottom: 1px solid #000;
}
.tainan-black-more{
    display: block;
    color: #000;
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    justify-content: end;
}
@media screen and (max-width: 992px){
    .tainan{
        margin-top: 0em;
    }
    .container-992{
        min-width: 100%;
    }
    
    .tainan-img-top{
        width: 90%;
        z-index: 1;
        position: absolute;
        left: 10%;
    }
    .tainan-img-top .img{
        min-height: 500px;
    }
    .tainan-word-top{
        width: 90%;
        margin-top: 3em;
    }
    
    .tainan-word{
        width: 100%;
        /* position: absolute; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:flex-end;
        margin-top: 20vh;
        padding: 8em 5em 0 5em;
    }
    .tainan-word h2 {
        font-size: 2em;
        margin-right: 20px;
    }
    .tainan .p-top{
        width: 100%;
        display: flex;
        /* margin-top: 5vh; */
    }
    .tainan-word p{
        width: 100%;
        font-size: 1.5em;
        line-height: 1.8em;
        align-items: center;
    }
    .tainan-black-more::before{
        height: 10px;
    }
    .tainan-black-more{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 20px;
        /* padding: 0 10px; */
    }
}
/* -------------------------------------------------- */
/* kaoshiung */

.kaoshiung{
    position: relative;
    color: #fff;
    width: 100%;
    /* border: 1px solid #f00; */
    /* transform: translateY(-31px); */
    margin-top: -8em;
}

.kaoshiung-img-top{
    width: 65%;
    /* margin-top: -30px; */
    overflow: hidden;
    
}

.kaoshiung-img-top .img{
    width: 100%;
    /* border: 1px solid #00f; */
    background: url(/img.file/kaohsiungPic-jpg.jpg) center bottom / cover no-repeat;
    min-height: 500px;   
    transition: .8s;
}
.kaoshiung-img-top:hover .img{
    transform: scale(1.1);
}
.kaoshiung-word-top{
    width: 35%;
    height: 130%;
    /* margin-right: -5px; */
    background: url(./img.file/yellow-jpg.jpeg);
}
.kaoshiung-word{
    width: 110%;
    min-height: 600px;
    /* background: url(/img.file/yellow-jpg.jpeg); */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    padding: 50px 60px;
    /* margin-left: -40px; */

}
.kaoshiung-word p{
    display: flex;
}
/* .kaoshiung-word-line-top{
    display: flex;
    align-items:flex-start;
} */

.kaoshiung-word-line{
    height: 15px;
    min-width: 50%;
    border-bottom: 1px solid #fff;
    margin-right: 10px;
}
.kaoshiung-word h2 {
    /* font-size: 1.5em; */
    display: flex;
    flex-direction: column;
    text-align:center;
    /* margin-right: 40px; */
    /* margin-bottom: 40px; */
    margin: 60px 0px 0px 0px;
    align-items: flex-start;
}
.kaoshiung-word h2 i{
    font-size: .8em;
    padding: 10px 6px;
}
.kaoshiung-white-more::before{
    display: inline-block;
    width: 100%;
    height: 15px;
    content: "" ;
    margin-right: 20px;
    border-bottom: 1px solid #fff;
}
.kaoshiung-white-more{
    display: block;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    justify-content: end;
}
@media screen and (max-width: 992px){
        .kaoshiung{
            margin-top: 0em;
        }
        .container-992{
            min-width: 100%;
        }
        
        .kaoshiung-img-top{
            width: 85%;
            z-index: 1;
            position: absolute;
            left: 0;
        }
        .kaoshiung-img-top .img{
            min-height: 500px;
        }
        .kaoshiung-word-top{
            width: 90%;
            margin-top: 3em;
        }
        
        .kaoshiung-word{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items:center;
            margin-top: 35vh;
            padding: 8em 2em 0 2em;
        }
        .kaoshiung-word h2 {
            font-size: 2em;
            margin-right: 20px;
        }
        .kaoshiung .p-top{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 40vh;
            margin-right: 15px;
        }
        .kaoshiung-word p{
            width: 100%;
            font-size: 1.5em;
            line-height: 1.8em;
            align-items: center;
        }
        .kaoshiung-black-more::before{
            height: 10px;
        }
        .kaoshiung-black-more{
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 20px;
            /* padding: 0 10px; */
        }
}

/* ----------------------------------------------------------- */
    /* pintung */
    .pintung{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: -6.3em;
        /* margin-left: 36px; */
        /* margin-left: .1%; */
        overflow: hidden;
    }
    .pintung .img-top{
        width: 65%;
        margin: 0;
        overflow: hidden;
    } 
    .pintung .img{
        width: 100%;
        margin: 0;
        min-height: 300px;
        background: url(./img.file/pingtungPic.jpg) center center /cover no-repeat;
        transition: .8s;
    }
    .pintung .img:hover{
        transform: scale(1.1);
    }
    .pintung-word{
        width: 65%;
        color: #000;
        min-height: 350px;
        background: url(/img.file/gray-jpg.jpeg);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        /* border: 1px solid red; */
        padding: 50px 20px 50px 50px;
        overflow: hidden;
    }
    .pintung-word h2 {
        /* font-size: 1.5em; */
        display: flex;
        flex-direction: column;
        text-align:center;
        /* margin-right: 50px; */
        /* margin-bottom: 70px; */
        margin: 0 20px;
    }
    .pintung-word h2 i{
        font-size: .8em;
        padding: 10px 0;
    }
    .pintung-word-top{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .pintung-word-line-top{
        display: flex;
        align-items:flex-start;
        align-self: flex-end;
        margin-top: 20px;
    }
    .pintung-word-line{
        height: 15px;
        width: 200px;
        border-bottom: 1px solid #000;
        margin-right: 10px;
    }
    .pintung-black-more::before{
        display: inline-block;
        width: 10em;
        height: 15px;
        content: "" ;
        margin-right: 20px;
        border-bottom: 1px solid #000;
    }
    .pintung-black-more{
        display: block;
        color: #000;
        margin-top: 20px;
        text-decoration: none;
        display: flex;
        justify-content: end;
    }
    @media screen and (max-width: 992px){
            .pintung{
                margin-top: 0;
            }
            .pintung-word{
                width: 100%;
                padding: 3em 1em 2em 1em;
                align-items: flex-start;
            }
            .pintung-word h2 {
                font-size: 2.5em;
            }
            .pintung-word-top{
                width: 85%;
                font-size: 3vw;
            }  
            .pintung-black-more::before{
                width: em;
            }
            .pintung-black-more{
                width: 100%;
                align-items: center;
            }
            .pintung .img-top{
                width: 100%;
                position: relative;
            } 
        }
    /* ----------------------------------------------------------- */
    /* hualien */
    .hualien{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        /* margin-left: 7px; */

    }
    .hualien-right{
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: url(/img.file/ocean-jpg.jpeg);
        padding: 0;
    }
    .hualien-img-top{
        width: 65%;
        overflow: hidden;
        
        /* position: absolute; */
        /* top: 50%; */
        /* right: 0; */
        /* z-index: 1; */
    }
    .hualien .img{
        width: 100%;
        min-height: 400px;
        background: url(./img.file/hualienPic-jpg.jpg) center center /cover no-repeat;
        transition: .8s;
    }
    .hualien .img:hover{
        transform: scale(1.1);
    }
    .hualien-word{
        /* width: 30%; */
        color: #fff;
        display: flex;
        align-items:flex-end;
        justify-content: center;
        position: relative;
    }
    .hualien-word h2 {
        /* font-size: 1.5em; */
        display: flex;
        flex-direction: column;
        text-align:center;
        justify-content: flex-end;
        margin: 0 20px 0 80px;
    }
    .hualien-word h2 i{
        font-size: .8em;
        padding: 10px 0;
    }
    .hualien-word-top{
        height: 400px;
        display: flex;
        justify-content: flex-end;
    }
    .hualien-word p{
        width: 50%;
        height: 400px;
        writing-mode: vertical-rl;
        line-height: 1.8em;
    }
    .hualien-white-more::before{
        display: inline-block;
        /* width: 1em; */
        height: 8em;
        content: "" ; 
        margin-right: 15px;
        margin-bottom: 10px;
        border-right: 1px solid #fff;
    }
    .hualien-white-more{
        display: block;
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content:flex-end;

    }
    @media screen and (max-width: 992px){
        .hualien{
            margin-top: 0em;
            overflow:visible;
        }
        .container-992{
            min-width: 100%;
        }
        .hualien-right{
            height: 100%;
            padding-bottom: 20px;
            margin-top: 10%;
        }
        .hualien-img-top{
            width: 90%;
            position: absolute;
            left: 10%;
            top: -5.5%;
            /* top: 0; */
        }
        .hualien-img-top .img{
            background-position: center bottom;
            min-height: 300px;
            width: 100%;
        }
        .hualien-word{
            width: 100%;
            min-height: 20em;
            margin: 20px;
            padding: 15em 2em 0 2em;
        }
        .hualien-word-top{
            width: 100%;
            font-size: 3vw;
            flex-direction: row-reverse;
            justify-content: center;
            height: 100%;
            /* align-items:flex-start; */
        }  
        .hualien-word h2 {
            font-size: 2.5em;
            justify-content: flex-start;
            margin: 0;
        }
        .hualien-word p{
            font-size: 2em;
            height: 100%;
            width: 50%;
            writing-mode: inherit;
            line-height: 1.8em;
            flex-grow: 1;

        }
        .hualien-white-more::before{
            display: inline-block;
            width: 100%;
            height: 0em;
            border-bottom: 3px solid #fff;

        }
        .hualien-white-more{
            width: 100%;
            align-items: center;
            writing-mode: inherit;


        }
    }

    
/* -------------------------------------------------- */
/* taitung */

.taitung{
    color: #000;
    width: 100%;
    /* border: 1px solid #f00; */
}
.taitung-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.taitung-img-top{
    width: 70%;
    /* margin-top: -10em; */
    /* margin-left: -4.25em; */
    z-index: 1;
    overflow: hidden;
    overflow: hidden;
}

.taitung-img-top .img{
    width: 100%;
    /* border: 1px solid #00f; */
    background: url(./img.file/taitungPic-jpg.jpg) center center / cover no-repeat;
    min-height: 500px;
    transition: .8s;
}
.taitung-img-top:hover .img{
    transform: scale(1.1);
}
.taitung-word-top{
    width: 90%;
    margin-top: -40px;
    flex-grow: 1;
    background: url(/img.file/gray-jpg.jpeg);
}
.taitung-word{
    width: 70%;
    min-height: 400px;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    padding: 50px 30px;
}
.taitung-word h2 {
    /* font-size: 1.5em; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    margin: auto;
}
.taitung-word h2 i{
    font-size: .8em;
    padding: 10px 0;
}
.taitung-word .p-top{
    display: flex;
    align-items: center;

}
.taitung-black-more::before{
    display: inline-block;
    width: 15em;
    height: 15px;
    content: "" ;
    margin-right: 20px;
    border-bottom: 1px solid #000;
}
.taitung-black-more{
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;    
}
@media screen and (max-width: 992px){
    .taitung{
        width: 100%;
        margin-top: 0;
    }
    .taitung-word{
        width: 100%;
        padding: 5em 5em 5em 1em;
        min-height: 10em;
        /* align-items: flex-start; */
    }
    .taitung-word h2 {
        font-size: 2.5em;
    }
    .taitung-word-top{
        position:absolute;
        position: relative;
        left: 5%;
        top: 50%;
        min-height: 20em;
        width: 100%;
        font-size: 3vw;
    }  
    /* .taitung-black-more::before{
        width: em;
    } */
    .taitung-black-more{
        width: 100%;
        align-items: center;
    }
    .taitung-img-top{
        width: 90%;
        margin-left: 1.5em;
    } 
    .taitung-img-top img{
        width: 100%;        
    }
}
/* ---------------------------- */
/* footer */
footer {
    /* display: inline-block; */
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}
footer p{
    margin: auto;
    padding: 1em 0;
}
@media screen and (max-width: 992px){
    foote{
        position:absolute;
    } 
}